.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-icon {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.calendar-day.disabled {
  background-color: #eee;
  color: #999;
  pointer-events: none;
}
